﻿@model DAL.Team
@{
    var isNew = string.IsNullOrEmpty(Model.Name) ? true : false;
    var saveButtonText = isNew ? "Add" : "Save";
    var headerText = isNew ? "Add Team" : "Edit Team";
}
<h2>@headerText</h2>

@using (Html.BeginForm(isNew ? "AddTeamToDB" : "UpdateTeam", "Teams", FormMethod.Post))
{
    if (!isNew)
    {
        @Html.HiddenFor(model => model.Id)
    }
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*@Html.HiddenFor(model => model.Name)*@

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@saveButtonText" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
